<table>
	<caption>Decision Hierarchy</caption>
	<tr class='even'>
        <th >Level 0</th>
        <th >Level 1</th>
        <th >Level 2</th>
        <th >Global Priorities</th>
    </tr>
    <tbody>
        <tr class='odd'>
            <td class='hier var' rowspan='6'>
                AHP-Project
            </td>
            <td class='hier var'>
                Crit-2
                <input type='text' size='6' name='pLoc[Crit-2]' value='0.25' disabled class='res' >
            </td>
            <td>
            </td>
            <td class='res' >
                <small>25.0 %</small>
            </td>
        </tr>
        <tr  class='even' >
            <td class='hier var'>
                crit-4
                <input type='text' size='6' name='pLoc[crit-4]' value='0.25' disabled class='res' >
            </td>
            <td>
            </td>
            <td class='res' >
                <small>25.0 %</small>
            </td>
        </tr>
        <tr class='odd'>
            <td class='hier var' rowspan='2'>
                Crit-1
                <input type='text' size='6' name='pLoc[Crit-1]' value='0.25' disabled class='res' >
            </td>
            <td class='hier var'>
                lol
                <input type='text' size='6' name='pLoc[lol]' value='0.5' disabled class='res' >
            </td>
            <td class='res' >
                <small>12.5 %</small>
            </td>
        </tr>
        <tr  class='even' >
            <td class='hier var'>
                lol2
                <input type='text' size='6' name='pLoc[lol2]' value='0.5' disabled class='res' >
            </td>
            <td class='res' >
                <small>12.5 %</small>
            </td>
        </tr>
        <tr class='odd'>
            <td class='hier var' rowspan='2'>
                Crit-3
                <input type='text' size='6' name='pLoc[Crit-3]' value='0.25' disabled class='res' >
            </td>
            <td class='hier var'>
                ahp1
                <input type='text' size='6' name='pLoc[ahp1]' value='0.5' disabled class='res' >
            </td>
            <td class='res' >
                <small>12.5 %</small>
            </td>
        </tr>
        <tr  class='even' >
            <td class='hier var'>
                ahp2
                <input type='text' size='6' name='pLoc[ahp2]' value='0.5' disabled class='res' >
            </td>
            <td class='res' >
                <small>12.5 %</small>
            </td>
        </tr>
        <tr  class='odd' >
            <td colspan='3' class='res'>
            </td>
            <td class='res'>
                <small>1.0</small>
            </td>
        </tr>
    </tbody>
</table>
