
<%
    data=[]
    mod=get_models
    models=[]
    mod.each do |m|
        if m!="Cost"
            models<<m
        end
    end
%>
<%res=create_kiviat("Resultados",models,get_alternatives(models[0]),calculate)%>

<table>
    <tr>

        <td>
            <%=res.html_safe%>
        </td>
    </tr>
</table>
