
<%#res=create_kiviat("Resultados",get_modules,get_axis,get_data)%>

<%=show_results%>

<%#["flat","cost","segurança"],["segurança","dns","rede","comutador","roteador"],[[1,2,3,4,5],[5,4,3,2,1],[2,3,4,3,2]])%>


<table>
    <tr>
        <td>
            <%#=res.html_safe%>
        </td>
    </tr>
</table>
