
  <h3 align="justify">O(a) senhor(a) está sendo convidado a participar de uma pesquisa do bacharelado em ciência da computação intitulada "Analisador AHP", que fará uma avaliação, tendo como objetivo analisar e qualificar diferentes provedores de serviço de nuvem de acordo com a sua capacidade de sanar as necessidades de seus usuários, para o desenvolvimento do trabalho de conclusão de curso no Centro de Ciências Tecnológicas da UDESC - Joinville. A sua privacidade será mantida através da não identificação do seu nome.
<br />
  Para maiores informações sobre o projeto, <%=link_to "clique aqui", about_projeto_path%></h3>

  <%=button_to "Iniciar Pesquisa",options_novaPesquisa_path,method: :get%>
